@{
    ViewData["Title"] = "Home Page Curso clean arch";
}

<div class="text-center">
    <h1 class="display-4">Welcome Curso clean arch</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
