@{
	ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<blockquote>
	<p>A política oferece ao indivíduo clareza sobre quais dados estão sendo coletados e para quais finalidades, garantindo maior controle sobre suas informações pessoais.</p>

</blockquote>
<hr/>
<blockquote>


</blockquote>
